
.blur-center {
    width: 800px; 
    height: 450px; 
    background-color: rgba(255, 255, 255, 0.326); 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    backdrop-filter: blur(5px); 
    border-radius: 10px; 
    text-align: center; 
    padding: 20px; 
}

.loginform {
    width: 400px; 
    height: 550px; 
    background-color: rgba(255, 255, 255, 0.326); 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    text-align: center; 
    padding: 20px; 
}


 


button {
    font-size: 30px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fffffff5; 
    color: #020202; 
    border: none;
    border-color: black;
    border-radius: 20px; 
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

button:hover {
    transform: scale(1.1); 
}

.BOX{
    padding: 10px;
    padding-top: 90px;
    bottom: 0;
   
    text-align: center;
}

.fras {
    width: 320px;
    height: 100px;
    position: absolute; 
    top: 0; 
    left: 10; 
    background-color: #007bff00; 
    color: #f8f4f4;
   
}

.p1{
   font-size: 90px;
 
   font-family: "open sauce",'Courier New', Courier, monospace sans-serif;

}

.p2{
    
    font-size: 40px;
}

.P3{
    font-size: 10px;
}
.team {
   
    margin-right: 35px;
    position: absolute;
    top: 10; 
    right: 0; 
    background-color: #ffffff00; 
    color: #e7dfdf; 
    padding: 10px; 
}


.BOX{
    margin-bottom: 40px;
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%;
    background-color: #007bff00; 
    color: #fff;
    padding: 10px; 
}


.BOTTOM{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-color: #007bff00; 
    color: #fff; 
    padding: 10px; 
}


.heading1{
    font-size: 30px;
    color: rgb(231, 233, 231);
}



.form{
     margin-top: 50px;
    height: 400px;
    width: 300px;
    padding: 20px;
    align-items: center;
}



.name{
    padding: 10px;
    font-size: 30px;
    
}

#name{
    width: 150px;
    padding: 10px;
    font-size: 10px;
}

.email{
    padding: 10px;
    font-size: 30px;
}

#email{
    width: 150px;
    padding-top: 10px;
    font-size: 10px;
}